# Keep line endings sane across Windows/Git so files don't show as "modified"
# just because of CR/LF differences.
*.sh   text eol=lf
*.bat  text eol=crlf
# Normalise LICENSE to LF so it stops showing as "modified" on every checkout.
# (The previous "-text" marked it binary, so Git compared raw bytes and CRLF≠LF
#  churned forever; "text eol=lf" makes Git normalise and treat them as identical.)
LICENSE text eol=lf
